@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-display: auto;
        font-family: "Gotham";
        font-style: normal;
        src: url("/fonts/Git")
    }
}